.card-body {
    
    color: white;
}

.warning-danger {
    background-color: #912046;
}
.not-warning {
    background-color: #8DC73F;
}

.warning {
    background-color: #FD7400;
}

.legend {
    width: 200px;
    height: 10px;
}

.warning-danger-label {
    width: 50px;
    height: 50px;
    background-color: #912046;
}
.not-warning-label {
    width: 50px;
    height: 50px;
    background-color: #8DC73F;
}

.warning-label {
    width: 50px;
    height: 50px;
    background-color: #FD7400;
}

span {
    width: 100px;
}
    